In [4]:
import pandas as pd
import logging
logging.basicConfig(filename="a20.log", level=logging.DEBUG)

In [42]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
try:
    out = pd.Series([4, 8, 15, 16, 23, 42])
    logging.info(out)
    print()
except TypeError as t:
    logging.error(t)

In [9]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
try:
    put = pd.Series([1, 'ramesh', 22.44, True, 'Mrinal', 7, 80, "five", "eight", 10])
    print(put)
    logging.info(put)
except TypeError as t:
    print(t)
    logging.error(t)

0         1
1    ramesh
2     22.44
3      True
4    Mrinal
5         7
6        80
7      five
8     eight
9        10
dtype: object

In [17]:
# Q3. Create a Pandas DataFrame that contains the following data:
try:
    data = {"Name":["Alice", "Bob", "Charlie"], "Age":[25, 30, 27], "Gender":["Female", "Male", "Female"]}
    tab = pd.DataFrame(data)
    print(tab)
    logging.info(tab)
except TypeError as t:
    print(t)
    logging.error(t)

    Name  Age  Gender
0  Alice   25  Female

In [11]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
try:
    logging.info("DataFrame is a function of padas in python libraries it is use to create a structured form of data also called tabular data. It is different from pandas.series because pandas.series is an one dimensional labeled array capable of holding any data type on the other hand DataFrame is two dimensional labeled array capable of holding any data type. ")
except TypeError as t:
    logging.error(t)

In [30]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
try:
    logging.info("Common functions we can use to manipulate data in a pandas DataFram are:\nhead(), tail()")
    #For example
    data = {"Name":["Alice", "Bob", "Charlie"], "Age":[25, 30, 27], "Gender":["Female", "Male", "Female"]}
    tab = pd.DataFrame(data)
    print(tab.head()) #head() function is used to filter some of the top elements
    print(tab.tail()) #tail() function is used to filter some of the bottom elements
    print(tab.describe()) #describe() is used to tell the summary about the given program.
    print(tab.sort_values(by='Age', ascending=False)) #sort_values function is used to sort elements according to the given input.
    print()
    logging.info(tab)
except TypeError as t:
    print(t)
    logging.error(t)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000
      Name  Age  Gender
1      Bob   30    Male
2  Charlie   27  Female
0    Alice   25  Female

In [31]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
try:
    logging.info("In this the DataFrame is mutable in nature, Series & Panel are also mutable but less commonly compared to DataFrame")
except TypeError as t:
    logging.error(t)

In [41]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

try:
    name = pd.Series(["Ramesh", "Himesh", "Mukesh", "Heena"])
    age = pd.Series([23, 22, 11, 4])
    salary = pd.Series([2000, 4000, 8000, 11000])
    dics = {"Name":name, "Age":age, "Salary":salary}
    ck = pd.DataFrame(dics)
    print(ck)
    ck.to_csv('panda-genda', index=False)
except TypeError as t:
    print(t)

     Name  Age  Salary
0  Ramesh   23    2000
1  Himesh   22    4000
2  Mukesh   11    8000
3   Heena    4   11000